/*添加图片功能时引入此样式表*/
.addimage body {
	background-color: #EFEFF4;
}
.addimage input,
.addimage textarea {
	border: none !important;
}
.addimage textarea {
	height: 100px;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.addimage .row {
	width: 100%;
	background-color: #fff;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
	font-size: 14px;
}

.addimage .hidden {
	display: none;
}
.addimage .image-list {
	width: 100%;
	height: 85px;
	background-size: cover;
	padding: 10px 10px;
	overflow: hidden;
}
.addimage .image-item {
	width: 65px;
	height: 65px;
	/*background-image: url(../images/iconfont-tianjia.png);*/
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: solid 1px #e8e8e8;
	vertical-align: top;
}
.addimage .image-item .file {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	z-index: 0;
}
.addimage .image-item.space {
	border: none;
}
.addimage .image-item .image-close {
	position: absolute;
	display: inline-block;
	right: -6px;
	top: -6px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 12px;
	background-color: #FF5053;
	color: #f3f3f3;
	border: solid 1px #FF5053;
	font-size: 9px;
	font-weight: 200;
	z-index: 1;
}
.addimage .image-item .image-up{
	height: 65px;
	width: 65px;
	border-radius: 10px;
	line-height: 65px;
	border: 1px solid #ccc;
	color: #ccc; 
	display: inline-block;
	text-align: center;
}
.addimage .image-item .image-up:after{
	font-family: "微软雅黑";
	content: '+';
	font-size: 60px;
}
.addimage .image-item.space .image-close {
	display: none;
}
.addimage .mui-inline{
	vertical-align: bottom;
	font-size: 14px;
	color: #8f8f94;
}

